@model Repoteq.Models.OrderItem

@{
    Layout = null;
}

@using Repoteq.Helpers;
@{
    //BeginCollectionItemCore already created in HtmlHelper.cs class
}

@using (Html.BeginCollectionItem("Product"))
{
    <!-------"AddMoreList"----- this is AddMoreViewModel List Object wich is define ViewModel file -->
    <div id="removeAddMoreDiv" class="col-xs-12 col-sm-12 form-group">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Product" class="control-label"></label>
                <input asp-for="Product" class="form-control" />
                @*<select asp-for="Product" class="form-control"
                    asp-items="@(new SelectList(Model.,"Id","ProductName"))"></select>*@
            </div>
            <div class="col-md-4">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>
            <div class="col-md-4">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="col-md-4">
                <label asp-for="PriceAfterDiscount" class="control-label"></label>
                <input asp-for="PriceAfterDiscount" class="form-control" />
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger btn-sm removeDiv">
                    Remove
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
<script>
    $(".removeDiv").click(function () {
        $(this).parents("#removeAddMoreDiv").remove();
    });
</script>